%h1 Listing terrains

%table.table
  %thead
    %tr
      %th Element
      %th Difficult
      %th
      %th
      %th

  %tbody
    - @terrains.each do |terrain|
      %tr
        %td= terrain.element
        %td= terrain.difficult
        %td= link_to 'Show', terrain
        %td= link_to 'Edit', edit_terrain_path(terrain)
        %td= link_to 'Destroy', terrain, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Terrain', new_terrain_path
