%p#notice= notice

%p
  %b Name:
  = @animal.name
%p
  %b Element:
  = @animal.element
%p
  %b Power type:
  = @animal.power_type
%p
  %b Life:
  = @animal.life
%p
  %b Will:
  = @animal.will

= link_to 'Edit', edit_animal_path(@animal)
\|
= link_to 'Back', animals_path
