%p#notice= notice

%p
  %b Weight:
  = @item.weight
%p
  %b Type:
  = @item.type
%p
  %b Name:
  = @item.name
%p
  %b Characteristic:
  = @item.characteristic

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
